include headerEmpl.pug 
.container
  h1 List of employees in #{ company-name } 

  each person in people 
    .person-wrapper 
      a.person(href=`/allemployees/${person.id}`) #{`${person.name} ${person.surname}`} 
      a.delete(href="#") Delete   
       



  